﻿@using WebApplication11.ViewModels;
@model IEnumerable<HolidayViewModel>


@{
    ViewBag.Title = "Holiday Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requests</h2>

@using (Html.BeginForm("Index", "RequestHoliday", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <table id="request">
            <thead>
                <tr>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Approve
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                    {
                <tr>
                    <td>@m.LastName</td>
                    <td>@m.FirstName</td>
                    <td>@m.Email</td>
                    <td>@m.StartDate</td>
                    <td>@m.EndDate</td>
                    <td>@Html.CheckBox("approved",false,new { data_request_id = m.RequestID })</td>
                </tr>
                    }
            </tbody>
        </table>


        <input type="submit" value="Approve" class="btn btn-success" />
    </div>


}

@*<script>
        $(document).ready(function () {
            $('#request').DataTable({
                "ajax": "Controllers/RequestHolidayController.cs",
                "columns": [
                    { "data": "lName" },
                    { "data": "fName" },
                    { "data": "eMail" },
                    { "data": "sDate" },
                    { "data": "eDate" },
                ]
            });
        });
    </script>*@