﻿@{
    ViewBag.Title = "Create";
}


<h2>Create Role</h2>
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "Manage")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("RoleName","", new { @class = "form-control" })
    </p>
    <input type="submit" value="Save" class="btn btn-success">
}
@ViewBag.ResultMessage