﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Manage";
}

<h2>Manage Role</h2>
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Create New Role", "Create")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.DropDownList("RoleListBox",new SelectList(ViewBag.data,"Name","Name") , new { @class = "form-control" })
    </p>
    <div>
        Employee email
    </div>
    <p>
        @Html.TextBox("Employee","", new { @class = "form-control" })
            
    </p>
    <input type="submit" value="Save" class="btn btn-success" />
}
@ViewBag.ResultMessage