﻿@model WebApplication11.Models.AdditionalInformation
@{
    ViewBag.Title = "Manage User";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>*@
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Value = ViewBag.FirstName, Readonly=true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Value = ViewBag.LastName, Readonly=true})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HolidayDays, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.HolidayDays, new { @class = "form-control", Value = ViewBag.HolidayDays })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Manager, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Manager, new { @class = "form-control", Value = ViewBag.Manager })*@
            <select multiple="multiple" class="chose-employee form-control"></select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Replace, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Replace, new { @class = "form-control", Value = ViewBag.Replace })
        </div>
    </div>

   
    @*<div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Change" />
        </div>
    </div>
}
@ViewBag.ResultMessage

    <script>    
        $(document).ready(function () {   
            function formatRepo(repo) {
                if (repo.loading) {
                    return repo.text;
                }

                var $container = $("<div class='select2-email'>" + repo + "</div>");                
                $container.find(".select2-email").text(repo);
                return $container;
            }

            function formatRepoSelection(repo) {
                alert('aaaa');
                console.log('sdfasdfsdfadf',repo);
                return  repo.text;
            }  

            $(".chose-employee").select2({
                ajax: {
                    url: "/Home/GetEmployeeList",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: false
                },
                placeholder: 'Search for a repository',
                minimumInputLength: 1,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });

            //$(".chose-employee").select2({
            //    ajax: {
            //        url: '/Home/GetEmployeeList',
            //        width: 'resolve',
            //        data: function (params) {
            //            return {
            //                q: params.term// search term
            //            };
            //        },
            //        processResults: function (data) {
            //            return {
            //                results: data.items
            //            };
            //        },
            //        minimumInputLength: 2,
            //        templateResult: formatRepo,
            //        templateSelection: formatRepoSelection
            //    }
            //});
        });
    </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
