﻿@using WebApplication11.Models;
@model Holiday
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Name</h1>
    <p class="lead">Ukupna broj preostalih dana godisnjeg odmora</p>
    <p class="lead" style="font-size:xx-large">@ViewBag.Holiday</p>
    @*@Html.ViewBag.OldHoliday*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Old Holiday</h2>
        <p class="lead" style="font-size:xx-large">@ViewBag.OldHoliday</p>
        @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>*@
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>New Holiday</h2>
        <p class="lead" style="font-size:xx-large">@ViewBag.NewHoliday</p>
            
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row">
    <div class="col-md-12">
        <h2>Get Holiday</h2>
        @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.StartDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start date", @readonly = "true" } })
                        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.EndDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End date", @readonly = "true" } })
                        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
         </div>
         <div class="form-group" style="text-align:center">
                <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Send Request" />
                 </div>
          </div>
     </div>
 </div>
 </div>
}