﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Evidencija Odmora</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <!-- jQuery UI CSS Reference -->
        <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
        <!-- Required jQuery and jQuery UI Javascript references -->
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Evidencija Odmora", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("User Information", "About", "Home")</li>
                        <li>@Html.ActionLink("Manage User", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Holiday Request", "Index", "RequestHoliday")</li>
                        <li>@Html.ActionLink("Role", "Index", "Roles")</li>
                        <li>@Html.ActionLink("Non working days", "Index", "NonWorkingDay")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Evidencija Odmora</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")
        <script type="text/javascript">
                $(document).ready(function () {
                    $('input[type=datetime]').datepicker({
                        dateFormat: "dd/M/yy",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-60:+0"
                    });
                });
        </script>
    </body>
    </html>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Evidencija Odmora</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/cssjqryUi")
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>*@



    @*<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>*@


    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/jqueryui")*@



    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.js")"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Evidencija Odmora", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("User Information", "About", "Home")</li>
                    <li>@Html.ActionLink("Manage User", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Non working days", "Index", "NonWorkingDay")</li>
                    <li>@Html.ActionLink("Role", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Non working days", "Index", "NonWorkingDay")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Evidencija Odmora</p>
        </footer>
    </div>

    @*<script type="text/javascript">
            $(document).ready(function () {

                //$('input[type=datetime]').datepicker({
                //    dateFormat: "dd/M/yy",
                //    changeMonth: true,
                //    changeYear: true,
                //    yearRange: "-60:+0",
                //    minDate: new Date()
                //});
                //$('#StartDate').datepicker({
                //    startDate: '-0d'
                //});
            });
        </script>*@

</body>
</html>

